.fail { background-color: inherit; color: red; font-weight: bold; }
.pass { background-color: inherit; color: green; font-weight: bold; }
 pre { background-color: lightgray; color: inherit; }
html { font-family: lucida console, courier new, palatino linotype, trebuchet ms, serif; color: rgb(225, 225, 225); background-color: rgb(0, 0, 0); }
 .Header { font-weight: bold; font-size: 130%; }