<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/     [L]
   RewriteRule    ^forums -           [L]
   RewriteRule    ^server -           [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>